{% load i18n %}
{% load django_bootstrap5 %}

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block head_title %}{% endblock %}</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_email' %}" class="nav-link">{% trans "Change E-mail" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}" class="nav-link">{% trans "Sign Out" %}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}" class="nav-link">{% trans "Sign In" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}" class="nav-link">{% trans "Sign Up" %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% if messages %}
        <div>
            <strong>{% trans "Messages:" %}</strong>
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>

        {% endif %}

        {% block content %}
        {% endblock %}
        {% endblock %}
        {% block extra_body %}
        {% endblock %}
    </body>
</html>
