{% extends "account/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="w-100 text-center">{% trans "Change Password" %}</h1>

    <ul class="errorlist list-unstyled">
        {% for key, value in form.errors.items %}
            <li>{{value}}</li>
        {% endfor %}
    </ul>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="w-75 mx-auto my-4">
            <label class="form-label" for="id_oldpassword">現在のパスワード</label>
            <input type="password" name="oldpassword" placeholder="現在のパスワード" autocomplete="current-password" class="form-control" required="" id="id_oldpassword">
        </div>
        <div class="w-75 mx-auto my-4">
            <label class="form-label" for="id_password1">新しいパスワード</label>
            <input type="password" name="password1" placeholder="新しいパスワード" autocomplete="new-password" class="form-control" required="" id="id_password1">
        </div>
        <div class="w-75 mx-auto my-4">
            <label class="form-label" for="id_password2">新しいパスワード（再入力）</label>
            <input type="password" name="password2" placeholder="新しいパスワード（再入力）" class="form-control" required="" id="id_password2">
        </div>
        <div class="text-center">
            <button class="btn btn-primary w-75 my-4" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}
