{% extends "account/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="w-100 text-center">{% trans "Sign Up" %}</h1>

<ul class="errorlist list-unstyled">
	{% for key, value in form.errors.items %}
		<li>{{value}}</li>
	{% endfor %}
</ul>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <div class="w-75 mx-auto my-4">
        <label class="form-label" for="id_username">ユーザー名</label>
        <input type="text" name="username" placeholder="ユーザー名" autocomplete="username" minlength="1" maxlength="150" class="form-control" required="" id="id_username">
    </div>
    <div class="w-75 mx-auto my-4">
        <label class="form-label" for="id_password1">パスワード</label>
        <input type="password" name="password1" placeholder="パスワード" autocomplete="new-password" class="form-control" required="" id="id_password1">
    </div>
    <div class="w-75 mx-auto my-4">
        <label class="form-label" for="id_password2">パスワード(確認用)</label>
        <input type="password" name="password2" placeholder="パスワード(確認用)" autocomplete="new-password" class="form-control" required="" id="id_password2">
    </div>

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="text-center">
        <button class="btn btn-primary w-75 my-4" type="submit" class = "btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
    </div>

</form>
{% endblock %}
